@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

body {
    background-color: rgb(245, 245, 245);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.75rem;
}

#purchase {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(111, 72, 227);
    color: rgb(230, 220, 255);
    font-size: 1rem;
}

.header {
    display: flex;
}

.logo {
    max-height: 4rem;
}

.title {
    text-align: center;
    margin: 1rem 0 3rem 2rem;
}

.options-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
}

.options-card {
    width: 420px;
    min-height: 520px;

    background-color: #f4f4f4;

    border: 2px dashed #5aa0ff;
    border-radius: 18px;

    padding: 30px 32px;

    box-shadow: 12px 10px 20px rgba(0, 0, 0, 0.18);
}

.options-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 35px;

    font-weight: 900;
    color: #3a3a3a;

    letter-spacing: 1px;
}

.options-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.options-list label {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.options-list input[type="radio"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.options-list label:hover {
    color: #1c6dd0;
}
